button {
  color: #000000;
  background-color: pink;
  border-radius: 40px;
  height: 80px;
  width: 150px;
  font-size: large;
  border: 3px solid #34b3f1;
  cursor: pointer;
  font-weight: 1000;
}

button:hover {
  background-color: #34b3f1;
  border: 3px solid #f15412;
}
button:active {
  transform: scale(0.98);
}
